@charset "UTF-8";
:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
  --text-color: hsl(0, 0%, 7%);
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 15px;
  --small-font-size: 12px;
  --smaller-font-size: 10.5px;
  --line-height: 1.6em;
  --body-font-family: "Manrope", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}

.price__range__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--grayish-blue);
  background: var(--very-pale-blue) url(../../images/bg-pattern.svg) 0 0% no-repeat;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.2em;
  color: var(--dark-desaturated-blue);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  margin: 2.5rem 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

.container {
  width: 540px;
  margin: 0 auto;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.button, .button--dark {
  font-size: var(--small-font-size);
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem;
}

.button--dark {
  background-color: var(--dark-desaturated-blue);
  color: var(--light-grayish-blue2);
  font-weight: bold;
}
.button--dark:hover {
  color: white;
}

.label, .label--light-red {
  padding: 0.2rem 0.4rem;
  /* @mixin circle */
  border-radius: 1000px;
  /* end @mixin circle */
  font-weight: bold;
  font-size: var(--smaller-font-size);
}

.label--light-red {
  background: var(--light-grayish-red);
  color: var(--light-red);
}

.list, .list--icon {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--icon li {
  position: relative;
  padding-left: 2rem;
}
.list--icon li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: url(../../images/icon-check.svg) 0 center no-repeat;
}

.price {
  margin-top: 6rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 2rem 2rem rgba(35, 110, 223, 0.1);
}

.price__price-container,
.price__caveat-container {
  display: flex;
  flex-wrap: wrap;
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (max-width: 799px) {
  .price__price-container,
.price__caveat-container {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .price__price-container,
.price__caveat-container {
    justify-content: space-between;
  }
}

/* ========================== § PRICE SECTION === */
.price__price-timespan-container {
  padding: 3.9rem 3rem 0;
}

.price__pageviews {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.09em;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (max-width: 799px) {
  .price__pageviews {
    order: 1;
  }
}

.price__current-price {
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (max-width: 799px) {
  .price__current-price {
    order: 3;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 800px) {
  .price__current-price {
    display: flex;
    align-items: center;
  }
}

.price__price {
  margin-right: 1rem;
  font-size: 2.7rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: var(--dark-desaturated-blue);
}

/* ========================== § RANGE === */
.price__range-container {
  flex: 1 0 100%;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (max-width: 799px) {
  .price__range-container {
    order: 2;
  }
}

.price__range {
  margin: 3rem 0 3.2rem;
  width: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}
.price__range::-webkit-slider-thumb {
  /* @mixin circle */
  border-radius: 1000px;
  width: 2.5rem;
  height: 2.5rem;
  /* end @mixin circle */
  margin-top: -1rem;
  background: var(--strong-cyan) url(../images/icon-slider.svg) center center no-repeat;
  box-shadow: 0 1.5rem 1.5rem var(--soft-cyan);
  -webkit-appearance: none;
  cursor: grab;
  border: none;
}
.price__range::-webkit-slider-thumb:hover {
  background-color: var(--soft-cyan);
}
.price__range::-webkit-slider-thumb:active {
  cursor: grabbing;
  background-color: #20a497;
}
.price__range::-webkit-slider-runnable-track {
  /* @mixin circle */
  border-radius: 1000px;
  /* end @mixin circle */
  background: var(--light-grayish-blue);
  height: 0.5rem;
  -webkit-appearence: none;
}
.price__range::-moz-range-thumb {
  /* @mixin circle */
  border-radius: 1000px;
  width: 2.5rem;
  height: 2.5rem;
  /* end @mixin circle */
  margin-top: -1rem;
  background: var(--strong-cyan) url(../images/icon-slider.svg) center center no-repeat;
  box-shadow: 0 1.5rem 1.5rem var(--soft-cyan);
  -webkit-appearance: none;
  cursor: grab;
  border: none;
}
.price__range::-moz-range-thumb:hover {
  background-color: var(--soft-cyan);
}
.price__range::-moz-range-thumb:active {
  cursor: grabbing;
  background-color: #20a497;
}
.price__range::-moz-range-track {
  /* @mixin circle */
  border-radius: 1000px;
  /* end @mixin circle */
  background: var(--light-grayish-blue);
  height: 0.5rem;
  -webkit-appearence: none;
}
.price__range::-ms-thumb {
  /* @mixin circle */
  border-radius: 1000px;
  width: 2.5rem;
  height: 2.5rem;
  /* end @mixin circle */
  margin-top: -1rem;
  background: var(--strong-cyan) url(../images/icon-slider.svg) center center no-repeat;
  box-shadow: 0 1.5rem 1.5rem var(--soft-cyan);
  -webkit-appearance: none;
  cursor: grab;
  border: none;
}
.price__range::-ms-thumb:hover {
  background-color: var(--soft-cyan);
}
.price__range::-ms-thumb:active {
  cursor: grabbing;
  background-color: #20a497;
}
.price__range::-ms-track {
  /* @mixin circle */
  border-radius: 1000px;
  /* end @mixin circle */
  background: var(--light-grayish-blue);
  height: 0.5rem;
  -webkit-appearence: none;
}

.price__range__label {
  align-items: center;
}

.price__timespan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: var(--small-font-size);
}
.price__timespan-container:hover .price__toggle {
  background: var(--strong-cyan);
}

.price__toggle-container, .price__toggle-container--right, .price__toggle-container--left {
  display: flex;
  position: relative;
  align-content: center;
}

.price__toggle,
.price__toggle-label {
  cursor: pointer;
}

.price__toggle {
  -webkit-appearance: none;
  position: relative;
  background: var(--light-grayish-blue2);
  width: 1.4rem;
  height: 1.5rem;
  border: none;
}
.price__toggle-container--left .price__toggle {
  width: calc(1.5rem + 2px);
  border-radius: 100px 0 0 100px;
  transform: translateX(2px);
  z-index: 20;
}
.price__toggle-container--left .price__toggle:after {
  transition: 0.3s;
  /* @mixin circle */
  border-radius: 1000px;
  width: 1rem;
  height: 1rem;
  /* end @mixin circle */
  content: "";
  position: absolute;
  left: 1.7rem;
  top: 0.2rem;
  background: white;
  pointer-events: none;
}
.price__toggle-container--left .price__toggle:checked:after {
  left: 0.2rem;
}
.price__toggle-container--right .price__toggle {
  border-radius: 0 100px 100px 0;
}

.price__toggle-label {
  position: absolute;
  width: fit-content;
}
.price__toggle-container--left .price__toggle-label {
  right: 2.5rem;
  width: 200px;
  text-align: right;
}
.price__toggle-container--right .price__toggle-label {
  left: 2.5rem;
  width: 200px;
}

.price__discount {
  margin-left: 0.5rem;
}

/* ========================== § PRICE CAVEAT === */
.price__caveat-container {
  align-items: center;
  padding: 0rem 3rem 2rem;
}

.price__caveat__list {
  font-size: var(--small-font-size);
}

.price__caveat__button {
  padding-left: 3rem;
  padding-right: 3rem;
}

.container {
  padding-top: 7.1rem;
}

/*# sourceMappingURL=main.css.map */
