@use "../index" as *;

.button {
  font-size: var(--small-font-size);
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem;
}

.button--dark {
  @extend .button;
  background-color: var(--dark-desaturated-blue);
  color: var(--light-grayish-blue2);
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.label {
  padding: 0.2rem 0.4rem;
  @include circle();
  font-weight: bold;
  font-size: var(--smaller-font-size);
}

.label--light-red {
  @extend .label;
  background: var(--light-grayish-red);
  color: var(--light-red);
}
