@use "../index" as *;

.button {
  font-size: var(--small-font-size);
  border: none;
  border-radius: 100px;
  padding: 0.8rem;
}

.button--dark {
  @extend .button;
  background-color: var(--dark-desaturated-blue);
  color: var(--light-grayish-blue);
  font-weight: bold;

  &:hover {
    color: white;
  }
}
