@use "../index" as *;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--icon {
  @extend .list;

  li {
    position: relative;
    padding-left: 2rem;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      background: url(../../images/icon-check.svg) 0 center no-repeat;
    }
  }
}
