@use "../index" as *;

.price {
  margin-top: 6rem;
  border-radius: 0.5rem;
  background-color: white;
}

.price__container {
  padding: 3.9rem 3rem;
}

.price__price-container,
.price__caveat-container {
  display: flex;
  flex-wrap: wrap;

  @include mq($desktop-width, down) {
    flex-direction: column;
    text-align: center;
  }

  @include mq($desktop-width, up) {
    justify-content: space-between;
  }
}

/* ========================== § PRICE SECTION === */
.price__pageviews {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.09em;
  @include mq($desktop-width, down) {
    order: 1;
  }
}

.price__current-price {
  @include mq($desktop-width, down) {
    order: 3;
  }

  @include mq($desktop-width, up) {
    display: flex;
    align-items: center;
  }
}

.price__price {
  margin-right: 1rem;
  font-size: 2.7rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: var(--dark-desaturated-blue);
}

/* ========================== § RANGE === */
@mixin slider-thumb() {
  @include circle(2.5rem);
  margin-top: -1rem;
  background: var(--strong-cyan) url(../images/icon-slider.svg) center center no-repeat;
  box-shadow: 0 1.5rem 1.5rem var(--soft-cyan);
  -webkit-appearance: none;
  cursor: grab;
  border: none;

  &:hover {
    background-color: var(--soft-cyan);
  }

  &:active {
    cursor: grabbing;
    background-color: #20a497;
  }
}

@mixin slider-track() {
  @include circle();
  background: var(--light-grayish-blue);
  height: 0.5rem;
  -webkit-appearence: none;
}
.price__range-container {
  flex: 1 0 100%;

  @include mq($desktop-width, down) {
    order: 2;
  }
}

.price__range {
  margin: 3rem 0;
  width: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;

  // Webkit
  &::-webkit-slider-thumb {
    @include slider-thumb();
  }

  &::-webkit-slider-runnable-track {
    @include slider-track();
  }

  // Firefox
  &::-moz-range-thumb {
    @include slider-thumb();
  }

  &::-moz-range-track {
    @include slider-track();
  }

  // IE
  &::-ms-thumb {
    @include slider-thumb();
  }

  &::-ms-track {
    @include slider-track();
  }
}

.price__range__label {
  @extend %hide-visually;
}

.price__timespan-container {
  display: flex;
  justify-content: center;
}

.price__caveat-container {
  align-items: center;
}
