@use "../index" as *;

.price {
  margin-top: 6rem;
  border-radius: 0.5rem;
  background-color: white;
}

.price__price-container,
.price__caveat-container {
  display: flex;
  flex-wrap: wrap;

  @include mq($desktop-width, down) {
    flex-direction: column;
    text-align: center;
  }

  @include mq($desktop-width, up) {
    justify-content: space-between;
  }
}

/* ========================== § PRICE SECTION === */
.price__price-timespan-container {
  padding: 3.9rem 3rem 0;
}

.price__pageviews {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.09em;
  @include mq($desktop-width, down) {
    order: 1;
  }
}

.price__current-price {
  @include mq($desktop-width, down) {
    order: 3;
    margin-bottom: 2.5rem;
  }

  @include mq($desktop-width, up) {
    display: flex;
    align-items: center;
  }
}

.price__price {
  margin-right: 1rem;
  font-size: 2.7rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: var(--dark-desaturated-blue);
}

/* ========================== § RANGE === */
@mixin slider-thumb() {
  @include circle(2.5rem);
  margin-top: -1rem;
  background: var(--strong-cyan) url(../images/icon-slider.svg) center center no-repeat;
  box-shadow: 0 1.5rem 1.5rem var(--soft-cyan);
  -webkit-appearance: none;
  cursor: grab;
  border: none;

  &:hover {
    background-color: var(--soft-cyan);
  }

  &:active {
    cursor: grabbing;
    background-color: #20a497;
  }
}

@mixin slider-track() {
  @include circle();
  background: var(--light-grayish-blue);
  height: 0.5rem;
  -webkit-appearence: none;
}
.price__range-container {
  flex: 1 0 100%;

  @include mq($desktop-width, down) {
    order: 2;
  }
}

.price__range {
  margin: 3rem 0 3.2rem;
  width: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;

  // Webkit
  &::-webkit-slider-thumb {
    @include slider-thumb();
  }

  &::-webkit-slider-runnable-track {
    @include slider-track();
  }

  // Firefox
  &::-moz-range-thumb {
    @include slider-thumb();
  }

  &::-moz-range-track {
    @include slider-track();
  }

  // IE
  &::-ms-thumb {
    @include slider-thumb();
  }

  &::-ms-track {
    @include slider-track();
  }
}

.price__range__label {
  @extend %hide-visually;
  align-items: center;
}

.price__timespan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: var(--small-font-size);
  &:hover {
    .price__toggle {
      background: var(--strong-cyan);
    }
  }
}

.price__toggle-container {
  display: flex;
  position: relative;
  align-content: center;
}

.price__toggle-container--left {
  @extend .price__toggle-container;
}

.price__toggle-container--right {
  @extend .price__toggle-container;
}

.price__caveat-container {
  align-items: center;
  padding: 0rem 3rem 3.9rem;
}

.price__toggle,
.price__toggle-label {
  cursor: pointer;
}

.price__toggle {
  -webkit-appearance: none;
  position: relative;
  background: var(--light-grayish-blue2);
  width: 1.4rem;
  height: 1.5rem;
  border: none;

  .price__toggle-container--left & {
    width: calc(1.5rem + 2px);
    border-radius: 100px 0 0 100px;
    transform: translateX(2px); // remove border between the two radio buttons
    z-index: 20;

    &:after {
      transition: 0.3s;
      @include circle(1rem);
      content: "";
      position: absolute;
      left: 1.7rem;
      top: 0.2rem;
      background: white;
      pointer-events: none;
    }

    &:checked:after {
      left: 0.2rem;
    }
  }

  .price__toggle-container--right & {
    border-radius: 0 100px 100px 0;
  }
}

.price__toggle-label {
  position: absolute;
  width: fit-content;

  .price__toggle-container--left & {
    right: 2.5rem;
    width: 200px;
    text-align: right;
  }

  .price__toggle-container--right & {
    left: 2.5rem;
    width: 200px;
  }
}

.price__discount {
  margin-left: 0.5rem;
}

/* ========================== § PRICE CAVEAT === */
.price__caveat__list {
  font-size: var(--small-font-size);
}

.price__caveat__button {
  padding-left: 3rem;
  padding-right: 3rem;
}
