@use "../index.scss" as *;

.title-container {
  position: relative;
}
.title,
.subtitle {
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.title-background {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: -10;
}
